Source: tarantool-luaossl
Section: database
Priority: optional
Maintainer: William Ahern <william@25thandClement.com>
Build-Depends: debhelper (>= 9), m4, dh-lua, libssl-dev
Standards-Version: 3.9.2
Homepage: https://github.com/tarantool/luaossl
Vcs-Git: git://github.com/tarantool/luaossl.git
Vcs-Browser: https://github.com/tarantool/luaossl

Package: tarantool-luaossl
Architecture: any
Depends: openssl, ${shlibs:Depends}
Description: Comprehensive OpenSSL bindings for tarantool.
  A rebuild of original library for lua.
