#!/usr/bin/make -f

CFLAGS := -O3 -g -fstack-protector --param=ssp-buffer-size=4

DESTDIR_TMP=debian/tmp
DESTDIR=debian/tarantool-luaossl
prefix=/usr
build=liblua5.1-openssl
install=$(addsuffix -install,$(build))

%:
	dh $@

override_dh_auto_configure:
	true

override_dh_auto_build:
	make DESTDIR=$(DESTDIR) prefix=$(prefix) $(build)

override_dh_auto_install:
	make DESTDIR=$(DESTDIR_TMP) prefix=$(prefix) $(install)
	mkdir -p $(DESTDIR)/usr/lib/x86_64-linux-gnu/tarantool/
	mkdir -p $(DESTDIR)/usr/share/tarantool/
	mv $(DESTDIR_TMP)/usr/lib/lua/5.1/_openssl.so $(DESTDIR)/usr/lib/x86_64-linux-gnu/tarantool/_openssl.so
	mv $(DESTDIR_TMP)/usr/share/lua/5.1/* $(DESTDIR)/usr/share/tarantool/

override_dh_auto_clean:
	make clean

override_dh_auto_test:
	true
